@model IEnumerable<Categorie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Liste des catégories</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>@Html.DisplayNameFor(x => x.Nom)</th>
            <th>@Html.DisplayNameFor(x => x.Description)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cat in Model)
        {
            <tr>
                <th scope="row">@cat.ID</th>
                <td>@cat.Nom</td>
                <td>@cat.Description</td>
                <td>@Html.ActionLink("Detail", "detail", new { Id=cat.ID })</td>
            </tr>
        }


    </tbody>
</table>

